.details-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  gap: 1rem;
}

.details-container .car-img {
  width: 100%;
}

.res-btn {
  background: #97bf10;
  border: 2px solid #97bf10;
  color: #fff;
  border-radius: 20px;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-top: 4rem;
  cursor: pointer;
}

.res-btn:hover {
  background: #fff;
  color: #97bf10;
}

.title {
  text-align: right;
  margin-bottom: 2rem;
}

.details-info {
  text-align: right;
}

.recipe-food-table {
  width: 100%;
}

.recipe-food-table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.dark-bg {
  background-color: rgb(213, 213, 213);
}

.back-btn {
  margin-top: 3rem;
  background: #97bf10;
  border: 2px solid #97bf10;
  color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 1rem 10px 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}
