.res-container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 0.5rem;
}

.res-container #reserve {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-grow: 1;
  padding-bottom: 0.5rem;
}

.res-container #reserve,
.car-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
