:root {
  --button-height: 40px;
}

.App {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.Navbar {
  background-color: white;
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.6);
  position: relative;
}

.logo {
  width: 100%;
  margin-top: 3rem;
}

.navbar-ul,
.sign-out-btn {
  margin-top: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
}

li {
  list-style: none;
}

.navbar-li,
.sign-out-btn {
  padding: 1rem;
  margin-top: 0.2rem;
  display: block;
  color: #000;
}

.sign-out-btn {
  width: 100%;
  border: none;
}

.navbar-li:hover,
.sign-out-btn:hover {
  background-color: #97bf10;
}

.navbar-ul #active {
  background-color: #97bf10;
  color: white;
}

.navbar-li #active {
  background-color: #97bf10;
}

.btn {
  padding: 0.2rem;
}

a {
  text-decoration: none;
}

.NavFooter {
  position: fixed;
  bottom: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  padding: 0.5rem 1rem;
  overflow-y: scroll;
}

.session {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 0.5rem;
  background: linear-gradient(#97bf1099, #fff), url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/new-ghost-white-fr-3-4-1-1598911711.jpg?crop=1xw:1xh;center,top&resize=980:*') no-repeat;
  background-size: cover;
}

.session section {
  width: 80%;
  max-width: 420px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  background-color: #97bf10;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(250 250 250 / 1);
  color: #fff;
}

.session form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

.session a,
.session a:visited {
  color: #fff;
}

.session input[type="text"],
.session input[type="email"],
.session select,
.session input[type="date"],
.session input[type="number"],
.session input[type="password"],
.session button,
.session textarea {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  color: #000d;
}

.session textarea {
  width: 100%;
}

.session input[type="text"],
.session input[type="email"],
.session select,
.session input[type="date"],
.session input[type="number"],
.session input[type="password"] {
  border: none;
  margin: 0.4rem 0;
}

.session label,
.session button {
  margin-top: 1rem;
}

.session button {
  border: 3px solid #fff;
  background-color: #97bf10;
  color: #fff;
  padding: 0.5rem;
  margin: 1rem auto;
  width: 50%;
}

.session button:hover {
  border: 3px solid #97bf10;
  background-color: #fff;
  color: #97bf10;
}

.session button:disabled,
.session button[disabled] {
  border: 3px solid #fff6;
  background-color: #97bf1066;
  color: #fff6;
}

.session .instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #fff;
  color: #000;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.session .instructions > svg {
  margin-right: 0.25rem;
}

.session .offscreen {
  position: absolute;
  left: -9999px;
}

.session .hide {
  display: none;
}

.session .valid {
  color: #fff;
  margin-left: 0.25rem;
}

.session .invalid {
  color: red;
  margin-left: 0.25rem;
}

.session .errmsg {
  background-color: lightpink;
  border-radius: 5px;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.session .line a {
  padding: 0.3rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
}

.session .line a:hover {
  border: 2px solid #fff;
  color: #97bf10;
  background: #fff;
  border-radius: 0.5rem;
}

.session .valid-input {
  outline-color: #97bf10;
}

.session .invalid-input {
  outline-color: red;
}

.session .success {
  width: 150px;
  height: 150px;
  background: green;
  border: 4px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.session .thick {
  font-size: 4rem;
  font-weight: bolder;
}

.session .not-allowed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d11a2a10;
  color: #d11a2a;
  gap: 2rem;
}

.session .caution {
  font-size: 10rem;
}

.del-car-page,
.main-page {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bolder;
  text-align: center;
  margin-top: auto;
  margin-bottom: 0;
}

.sub-title {
  font-size: 0.8rem;
  color: #555;
  text-align: center;
}

.caution-section {
  border: 1px solid #d11a2a;
  border-radius: 10px;
  background: #d11a2a10;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.3rem;
  margin: 0 auto;
}

.caution-section .caution {
  color: #d11a2a;
  font-size: 1rem;
}

.caution-section h2 {
  color: #d11a2a;
  font-size: 0.6rem;
}

.cars-container {
  width: 80%;
  position: relative;
  margin: 0 auto auto auto;
  padding: 0.5rem 0;
}

.swiper-button-next {
  right: 20px;
  width: 200px;
}

.car {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  color: #000;
  background: #fff;
  border-radius: 10px;
}

.car:hover {
  border: 2px solid #97bf10;
}

.car-img {
  width: 100%;
  aspect-ratio: 16 / 11;
  background-size: cover;
  border-radius: 10px;
}

.car-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
}

.car-details h3,
.car-details p {
  margin: 0;
  font-size: 12px;
  text-align: center;
}

.car-model,
.car-desc {
  color: #555;
  text-align: center;
  font-size: 12px;
}

.car-desc {
  font-size: 12px;
  display: block;
  width: 100%;
}

.car-details hr {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 5px;
  width: 50%;
}

.del-car {
  border: 2px solid #d11a2a;
  border-radius: 3px;
  color: #d11a2a;
  background: none;
  font-weight: bold;
  margin: 1rem auto;
  transition: all 0.2s ease-in-out;
}

.del-car:hover {
  color: #fff;
  background: #d11a2a;
}

.del-car-page .btn,
.main-page .btn {
  position: absolute;
  width: 60px;
  height: var(--button-height);
  border: none;
  background: #97bf1088;
}

.del-car-page .btn:hover,
.main-page .btn:hover {
  background: #97bf10;
}

.del-car-page .prev,
.main-page .prev {
  border-radius: 0 30px 30px 0;
  top: 30%;
  left: -70px;
}

.del-car-page .next,
.main-page .next {
  border-radius: 30px 0 0 30px;
  top: 30%;
  right: -70px;
}

.del-car-page .prev::before,
.main-page .prev::before {
  content: "";
  width: 34px;
  height: calc(0.69 * var(--button-height));
  border-right: 2px solid #fff;
  border-radius: 5px;
  position: absolute;
  top: 14%;
  right: 20%;
}

.del-car-page .prev::after,
.main-page .prev::after {
  content: "";
  position: absolute;
  top: 23%;
  right: 10%;
  width: calc(0.5 * var(--button-height));
  height: calc(0.5 * var(--button-height));
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(-45deg);
  border-radius: 5px;
}

.del-car-page .next::before,
.main-page .next::before {
  content: "";
  width: 34px;
  height: calc(0.69 * var(--button-height));
  border-left: 2px solid #fff;
  border-radius: 5px;
  position: absolute;
  top: 14%;
  left: 20%;
}

.del-car-page .next::after,
.main-page .next::after {
  content: "";
  position: absolute;
  top: 23%;
  left: 10%;
  width: calc(0.5 * var(--button-height));
  height: calc(0.5 * var(--button-height));
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
  border-radius: 5px;
}
